.popup__error {
  width: 164px;
  min-height: 12px;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 0, 0, 1);
  margin-top: 5px;
  margin-left: 35px;
  margin-bottom: 13px;
}

.popup__error:last-of-type {
  margin-bottom: 0;
}