.profile__button {
  display: flex;
  box-sizing: border-box;
  margin-top: 36px;
  margin-left: 15px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-image: url(../../../images/Vector_karandash.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 1);
  transition: opacity 0.5s;
  cursor: pointer;
}