.popup__bottom-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__button-submit {
    font-size: 14px;
    line-height: 17px;
  }
}